:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--light-letters);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --light-letters: white;
    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(34, 38, 57, 0.65);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgb(187, 153, 255, 0.5);
    --OBR-Purple-Highlight: rgb(175, 181, 255);

    --dark-name-input: #6b6b6b;
    --light-letters: white;
    --headline-red: #A73335;
    --invert: none;
    --pink-x: rgb(255, 128, 170);
    --tooltip-background: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --OBR-offset-fore: rgb(65, 65, 65);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(183, 184, 189);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.63);
        --OBR-Purple-Select: rgb(153, 102, 255, 0.5);
        --OBR-Purple-Highlight: rgb(60, 62, 94);

        --dark-name-input: #e9e9e9;
        --light-letters: rgb(54, 54, 54);
        --headline-red: #8a8a8a;
        --pink-x: rgb(255, 128, 170);
        --invert: invert(1);
        --invert-click: none;
        --tooltip-background: rgb(161, 161, 161);
    }
}

body {
    height: 90%;
}

#smoke-whatsnew {
    background-color: var(--OBR-dark-blue-trans);
    backdrop-filter: blur(10px);
    text-size-adjust: none;
    margin: 0;
    padding: 15px;
    display: flex;
    height: 90%;
    flex-direction: column;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.news-image {
    width: 100%;
}

footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    width: calc(100% - 10px);
    padding: 0 4px 0 4px;

}

.close {
    width: 22px;
    height: 22px;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.5s;
    margin-right: 26px;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    font-weight: bolder;
    font-size: 31px;
    line-height: 0.95;
    margin-top: -2px;
}

.close:after,
.close:before {
    position: absolute;
    content: "";
    background-color: var(--light-letters);
}


.close:hover {
    color: var(--OBR-Purple-Highlight);
    box-shadow: none;
}

.close:hover:after,
.close:hover:before {
    color: var(--OBR-Purple-Highlight);
}

a:not(.patreon) {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

a {
    font-weight: bolder;
}

a:link {
    color: var(--OBR-Purple-Highlight);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--OBR-Purple-Highlight);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--pink-x);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.title {
    font-size: 1.5em;
    font-weight: bolder;
}

.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    animation: mask calc(var(--duration) * 1s) steps(500, start) infinite;
    transform-origin: 100% 50%;
}

@keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes mask {
    0% {
        background: #eee;
        -webkit-transform: rotate(0deg);
    }

    50% {
        background: #eee;
        -webkit-transform: rotate(-180deg);
    }

    50.01% {
        background: var(--OBR-Purple-Highlight);
        -webkit-transform: rotate(0deg);
    }

    100% {
        background: var(--OBR-Purple-Highlight);
        -webkit-transform: rotate(-180deg);
    }
}