:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--light-letters);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --light-letters: white;
    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(30, 34, 49, 0.6);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgb(187, 153, 255, 0.5);

    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
    --slider-color: #ccc;
}

@media (prefers-color-scheme: light) {
    :root {
        --OBR-offset-fore: rgb(44, 44, 46);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(183, 184, 189);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.507);
        --OBR-Purple-Select: rgb(153, 102, 255, 0.5);

        --light-letters: black;
        --invert: invert(1);
        --invert-click: none;
        --slider-color: #4b4b4b;
    }
}

.tooltip {
    cursor: pointer;
    display: inline;
}

#vision_checkbox {
    position: relative;
    top: 2px;
}

.title {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bolder;
}

.visionTitle {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0;
}

input
{
    background-color: var(--OBR-dark-blue-trans);
    color: var(--light-letters);
    border-style: solid;
    border-radius: 6px;
    padding: 2px;
}

input[type=button] {
    padding: 2px;
}

#import_dpi:disabled {
    opacity: 50%;
}

a {
    color: var(--light-letters);
}

.clr-field > button {
    height: 16px !important;
    width: 20px !important;
    right: 2px !important;
    margin-top: 2px !important;
}

.mysteryButton
{
    vertical-align: middle;
}

#mapSubmit,
.mysteryButton
{
    height: 35px;
    background-color: var(--OBR-light-blue);
    cursor: pointer;
}

input[type=button]:hover
{
    background-color: var(--OBR-Purple-Select);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--OBR-light-blue);
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

input.large {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input.token-vision-range::-webkit-outer-spin-button,
input.token-vision-range::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.token-vision-range[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* style for input element */
input.token-vision-range {
    text-align: right;
    padding-right: 1.3em;
    /* adjust this value based on the width of the unit */
    box-sizing: border-box;
    /* include padding and border in the width */
    width: 3.5em;
}

.token-list>* {
    display: inline-block;
}

.token-name {
    padding-right: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 9em;
    vertical-align: middle;
}

/* style for unit element */
.unit {
    margin-left: -1em;
    padding-right: 1em;
}

.vl {
    border-left: 1px solid rgb(255, 255, 255);
    height: 1.3em;
    vertical-align: middle;
    margin-right: 1em;
}

li>p {
    margin: 0;
    padding: 0;
}

.grid-main {
    width: 355px;
    display: grid;
    grid-template-columns: 10% 50% auto;
}

.grid-settings {
    width: 355px;
    text-align:left;

    display: grid;
    grid-template-columns: 60% 8% auto;
}

.grid-debug {
    width: 355px;
    text-align:left;

    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-3 {
    text-align:center;
    grid-column: span 3;
}

.grid-2 {
    grid-column: span 2;
}
