:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--light-letters);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --light-letters: white;
    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(30, 34, 49, 0.6);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgb(187, 153, 255, 0.5);
    --OBR-Purple-Highlight: rgb(187, 153, 255);

    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
    --slider-color: #ccc;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        --OBR-offset-fore: rgb(44, 44, 46);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(183, 184, 189);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.507);
        --OBR-Purple-Select: rgb(153, 102, 255, 0.5);

        --light-letters: black;
        --invert: invert(1);
        --invert-click: none;
        --slider-color: #4b4b4b;
    }

    .tooltip img {
        filter: contrast(60%);
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

#localStorageWarning {
    font-size: 12px;
    font-style: italic;
}

.tooltip {
    cursor: pointer;
    display: inline;
}

.tooltip svg {
    height: 0.9em;
    position: relative;
    top: 3px;
    fill: var(--OBR-offset-fore) !important;
}

#vision_checkbox {
    position: relative;
    top: 2px;
}

.title {
    font-size: 1.5em;
    font-weight: bolder;
}

.visionTitle {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0;
}

input {
    background-color: var(--OBR-dark-blue-trans);
    color: var(--light-letters);
    border-style: solid;
    border-radius: 6px;
    padding: 2px;
}

input[type=button] {
    background-color: var(--OBR-light-blue);
    padding: 2px;
    border: 2px solid black;
}

#import_dpi:disabled {
    opacity: 50%;
}

a {
    color: var(--light-letters);
}

.clr-field>button {
    height: 16px !important;
    width: 20px !important;
    right: 2px !important;
    margin-top: 2px !important;
}

.mysteryButton {
    vertical-align: middle;
}

#mapSubmit,
.mysteryButton {
    height: 35px;
    background-color: var(--OBR-light-blue);
    cursor: pointer;
}

input[type=button]:hover {
    background-color: var(--OBR-Purple-Select);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    padding: .75rem;
    text-align: center;
    width: 100%;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--OBR-light-blue);
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

input.large {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input.token-vision-range::-webkit-outer-spin-button,
input.token-vision-range::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.token-vision-range[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.token-vision-container {
    background-color: var(--OBR-light-blue);
    border: 2px solid black;
    border-radius: 6px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

/* style for unit element */
.unit {
    padding-left: 5px;
    cursor: pointer;
}

/* style for input element */
input.token-vision-range {
    box-sizing: border-box;
    width: 3em;
    outline: none;
    border: none;
    height: 100%;
    font-size: medium;
    text-align: center;
}

.token-list>* {
    display: inline-block;
}

.token-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 9em;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
}

.token-table-selected .token-name {
    font-weight: bold;
}

.token-vision-container-grid {
    background-color: var(--OBR-light-blue);
    border: 2px solid black;
    border-radius: 6px;
    height: 100%;
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    /* Creates three columns with equal width */
}

.emoji {
    height: 100%;
    width: 100%;
    display: inline-table;
}

.cbutton {
    height: 100%;
    width: 30px;
    float: left;
    cursor: pointer;
}

.cbutton input {
    position: absolute;
    display: none;
    width: 100%;
}

.cbutton input:checked+span {
    background-color: var(--OBR-Purple-Select);
}

.cbutton:hover {
    background-color: var(--OBR-Purple-Select);
}

.emoji {
    height: 0px;
}

.vl {
    border-left: 1px solid rgb(255, 255, 255);
    height: 1.3em;
    vertical-align: middle;
    margin-right: 1em;
}

li>p {
    margin: 0;
    padding: 0;
}

.grid-main {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 50% auto;
}

.grid-debug {
    width: 350px;
    text-align: left;

    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-3 {
    text-align: center;
    grid-column: span 3;
}

.grid-2 {
    grid-column: span 2;
}

#playerOwnedTokens {
    text-align: left;
    width: 100%;
    display: block;
}

.clickable:not(.RollerButton) {
    filter: var(--invert);
}

.clickable:active {
    filter: var(--invert-click);
    transform: scale(1.5);
}

.svgclickable:active {
    transform: scale(1.5);
}

/* SETTINGS TABLE */
.tableHeader {
    font-weight: bolder;
    font-size: larger;
    padding-bottom: 8px;
    text-align: center !important;
}

#persistence_reset,
#quality {
    margin-left: 16px;
}

.settingsButton {
    width: 100%;
    margin: 0 5px;
}

#opacityHolder {
    display: flex;
    justify-content: space-between;
}

#importTable,
#settingsTable {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    display: table;
}

#settingsTable td {
    text-align: left;
    padding: 2px;
}

#importTable td {
    text-align: center;
}

.circle-button {
    margin-top: 6px;
    padding: 0;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: yellow;
    border: 1px solid var(--light-letters);
    cursor: pointer;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 2px 0px red;
    }

    50% {
        box-shadow: 0 0 5px 2px red;
    }

    100% {
        box-shadow: 0 0 2px 0px red;
    }
}

.new-shine {
    animation: glow 1.5s infinite;
    border-radius: 50%;
}


/* Owner Context Menu */
.context-menu {
    position: absolute;
    text-align: center;
    background-color: var(--OBR-offset-back);
    border: 1px solid grey;
    border-radius: 10px;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 120px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 4px;
    padding-top: 4px;
    border: 1px solid grey;
    cursor: pointer;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: var(--OBR-light-blue);
}